body {
  font-family: 'Nunito', sans-serif;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 2.5vh;
}

h1, h2, h3 {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  margin-bottom: 3rem;
  font-size: 4vh;
}

h2 {
  font-size: 3vh;
}

a {
  color: #801c3d !important;
}

a:hover {
	color: #9f3458 !important;
}

.background {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#base {
  position: absolute;
  margin: auto;
  height: 100%;
  width: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.btn {
  position: absolute;
  height: 6vh;
}

.btn:hover {
  cursor: pointer;
}

#green-btn {
  left: 51.5vh;
  top: 91vh;
}

#orange-btn {
  left: 52.5vh;
  top: 51vh;
}

#yellow-btn {
  left: 131.5vh;
  top: 56vh;
}

#purple-btn {
  left: 154vh;
  top: 85vh;
}

/* when the screen is wider than the bg image's width */
@media (min-width: 177.5vh) and (orientation: landscape) {
  .btn {
    margin: auto;
    right: 0;
    bottom: 0;
  }

  #green-btn {
    left: -68.5vh;
    top: 88vh;
  }
  
  #orange-btn {
    left: -65.5vh;
    top: 8vh;
  }
  
  #yellow-btn {
    left: 91.5vh;
    top: 19vh;
  }
  
  #purple-btn {
    left: 136vh;
    top: 75vh;
  }
}

.menu-wrapper {
  position: relative;
  text-align: center;
  height: 50vh;
}

.menu-wrapper * {
  position: absolute;
}

#menu {
  height: 50vh;
  top: 44vh;
  left: 1vh;
}

.menu-title {
  height: 40vh;
  top: 50vh;
  left: 16.5vh;
}

.menu-directions {
  height: 40vh;
  width: 24vh;
  top: 57vh;
  left: 12vh;
}

.menu-resume {
  height: 40vh;
  top: 75vh;
  left: 16vh;
}

.menu-linkedin {
  height: 40vh;
  top: 81vh;
  left: 13vh;
}

/* when the screen is wider than the bg image's width */
@media (min-width: 177.5vh) and (orientation: landscape) {
  .menu-wrapper * {
    margin: auto;
    right: 0;
    bottom: 0;
  }

  #menu {
    top: 69vh;
    left: -130vh;
  }

  .menu-title {
    top: 72.5vh;
    left: -129vh;
  }

  .menu-directions {
    top: 79vh;
    left: -130vh;
  }
  
  .menu-resume {
    top: 97.4vh;
    left: -128vh;
  }
  
  .menu-linkedin {
    top: 103.5vh;
    left: -128.5vh;
  }
}

.scroll-wrapper {
  position: absolute;
  height: 50vh;
}

.scroll {
  max-height: 100%;
  max-width: 100%;
}

.modal {
  display: none; 
  justify-content: center;
  align-items: center;
  position: fixed; 
  z-index: 100; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  min-width: 121vh;
  overflow-x: auto; 
  overflow-y: hidden;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-wrapper {
  height: 90vh;
  min-width: 130vh;
  overflow: hidden;
}

.modal-scroll {
  height: 100%;
  width: 120vh;
}

.modal-content {
  position: absolute;
  margin: auto;
  top: 16vh;
  left: -8.2vh;
  bottom: 0vh;
  right: 0vh;
  width: 60vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: clip;
  word-wrap: break-word;
}

.modal-content::-webkit-scrollbar {
  width: 10px;
}

.modal-content::-webkit-scrollbar-track {
  border-radius: 5px;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #2e1c0e;
  border-radius: 5px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background: #352110;
}

.close {
  color: #000000;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  margin: auto;
  top: -72vh;
  left: 0;
  bottom: 0;
  right: -81vh;
  height: 4vh;
  width: 4vh;
  z-index: 20;
}

.close:hover,
.close:focus {
  color: #1e1207;
  text-decoration: none;
  cursor: pointer;
}
