body {
  font-family: 'Nunito', sans-serif;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 2.5vh;
}

h1, h2, h3 {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  margin-bottom: 5vh;
  font-size: 4vh;
}

h2 {
  font-size: 3vh;
}

a {
  color: #801c3d !important;
}

a:hover {
	color: #9f3458 !important;
}

video {
  border-radius: 10px;
}

.mb {
  margin-bottom: 3vh;
}

.mt {
  margin-top: 10vh !important;
}

.left-align {
  align-self: flex-start;
  text-align: left;
}

.right-align {
  align-self: flex-end;
  text-align: right;
}

.half {
  max-width: 45% !important;
  margin: 2.5%;
}

.row {
  display: flex;
  flex-direction: row;
}

.background {
  background-color: #000;
  height: 100vh;
  width: 100vw;
  position: relative;
}

#base {
  position: absolute;
  margin: auto;
  height: 100%;
  width: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.btn {
  position: absolute;
  height: 6vh;
}

.btn:hover {
  cursor: pointer;
}

#green-btn {
  left: 51.5vh;
  top: 91vh;
}

#orange-btn {
  left: 52.5vh;
  top: 51vh;
}

#yellow-btn {
  left: 131.5vh;
  top: 56vh;
}

#purple-btn {
  left: 154vh;
  top: 85vh;
}

/* when the screen is wider than the bg image's width */
@media (min-width: 177.5vh) and (orientation: landscape) {
  .btn {
    margin: auto;
    right: 0;
    bottom: 0;
  }

  #green-btn {
    left: -68.5vh;
    top: 88vh;
  }
  
  #orange-btn {
    left: -65.5vh;
    top: 8vh;
  }
  
  #yellow-btn {
    left: 91.5vh;
    top: 19vh;
  }
  
  #purple-btn {
    left: 136vh;
    top: 75vh;
  }
}

.menu-wrapper {
  position: relative;
  text-align: center;
  height: 50vh;
}

#menu, 
.menu-content {
  position: absolute;
  height: 50vh;
  top: 44vh;
  left: 1vh;
}

.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25vh;
  left: 12vh;
}

.menu-content h1, 
.menu-content h2 {
  font-size: 2.5vh;
}

.menu-title {
  margin-bottom: 2vh;
}

.menu-directions {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.8vh;
  margin-top: 0;
  margin-bottom: 3vh;
}

.menu-link {
  margin-bottom: 0vh;
}

/* when the screen is wider than the bg image's width */
@media (min-width: 177.5vh) and (orientation: landscape) {
  .menu-wrapper * {
    margin: auto;
    right: 0;
    bottom: 0;
  }

  #menu, 
  .menu-content {
    top: 69vh;
    left: -130vh;
  }

  .menu-content {
    height: 35vh;
  }
}

.scroll-wrapper {
  position: absolute;
  height: 50vh;
}

.scroll {
  max-height: 100%;
  max-width: 100%;
}

.modal {
  display: none; 
  justify-content: center;
  align-items: center;
  position: fixed; 
  z-index: 100; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  min-width: 121vh;
  overflow-x: auto; 
  overflow-y: hidden;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-wrapper {
  height: 90vh;
  min-width: 130vh;
  overflow: hidden;
}

.modal-scroll {
  height: 100%;
  width: 120vh;
}

.modal-content {
  position: absolute;
  margin: auto;
  top: 16vh;
  left: -8.2vh;
  bottom: 0vh;
  right: 0vh;
  width: 60vh;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  text-overflow: clip;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-img {
  max-width: 80%;
  border-radius: 10px;
}

.modal-content::-webkit-scrollbar {
  width: 10px;
}

.modal-content::-webkit-scrollbar-track {
  border-radius: 5px;
}

.modal-content::-webkit-scrollbar-thumb {
  background: #2e1c0e;
  border-radius: 5px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
  background: #352110;
}

.close {
  color: #000000;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  margin: auto;
  top: -72vh;
  left: 0;
  bottom: 0;
  right: -81vh;
  height: 4vh;
  width: 0vh;
  z-index: 20;
}

.close:hover,
.close:focus {
  color: #1e1207;
  text-decoration: none;
  cursor: pointer;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide-maya, 
.slide-bl {
  display: none;
}

.slide-img {
  height: 30vh;
  width: 50vh;
  object-fit: cover;
  border-radius: 10px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.slide-count {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.slideshow-dots {
  text-align: center;
}

.dot-maya, 
.dot-bl, 
.dot-rpg {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot-maya:hover, 
.dot-bl:hover, 
.dot-rpg:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
